{
    "root": true,
    "env": {
        "browser": true,
        "es6": true
    },
    "globals": {},
    "extends": ["./node_modules/@kunstmaan/eslint-react-config/index.js"],
    "rules": {
        "no-new": 0
    }
}
